@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&family=Markazi+Text:wght@400;500;600;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --font-base: 'Markazi Text', serif;
  --font-alt: 'Karla', sans-serif;
  
  --color-darkgreen: #495E57;
  --color-yellow: #F4CE14;
  --color-redskin: #EE9972;
  --color-skin: #FBDABB;
  --color-lightgrey: #EDEFEE;
  --color-grey: #333333;
  --color-black: #0C0C0C;
  --color-white: #FFFFFF;
}

a {
  color: unset;
  text-decoration: none;
}

